.homepage{
    flex: 1;
    background-image: url('../images/fruit.jpg');
    background-size: cover ;
    background-repeat: none;

    text-align: center;
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    padding-top: 12%;
    padding-left: 20%;
    padding-right: 20%;
}

p {
    
    align-self: flex-start;
    justify-self: center;
    font-size: 6rem;
}

.homepage > button {
    border: none;
    margin: none;
    background-color: transparent;
    color: white;
    align-self: flex-end;
    justify-self: center;
    font-size: 4rem;
}


.homepage > button:hover{
    font-size: 5rem;
}